
<div class="card" style="width: 18rem;">
    <img  [src]= urlImageArticle class="card-img-top"  alt="..." >
    <div class="card-body">
        <h5 class="card-title" [ngStyle]="{color:getColor()}">
            {{titreArticle | uppercase}}
            <span *ngIf="dispo===false">-indisponible </span>
        </h5>
       <p class="card-text">{{prixArticle }} €</p>
        <a href="#" class="btn btn-dark" (click)="onLike()" [ngClass]="
        {'red':  jaime===true,
         'white':jaime===false
        }">
            <span><fa-icon [icon]="['fas', 'heart']"    [style.color]="iconColor" ></fa-icon></span>
        </a>
            <a href="#" class="btn btn-primary" (click)="onLike()" [ngClass]="
        {'red':  jaime===false,
         'white':jaime===true
}">
            <span><fa-icon [icon]="['fas', 'heart-crack']"    [style.color]="iconColor" ></fa-icon></span>
        </a>
        <p class="card-text">{{nbreLikeArticle}}</p>
        <input [(ngModel)]="commentArticle" type="text" placeholder="ecrire du texte" class="form-control" >
        <p class="card-text ms-3">{{commentArticle |lowercase}}</p>
    </div>
</div>
