<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<div class="face-snap-card mt-5">
    <h2>{{snapVvs.title}}</h2>
    <h2>{{snapVvs.description}}</h2>
    <img [src]="snapVvs.imageUrl"  class="mb-3" >
    <button class="btn btn-dark" (click)="onSnap()">
        {{buttonText}}
    </button>
    <h2>{{snapVvs.snap}}</h2>

</div>