.footer-position{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.info{
  text-align: center;
  color:cadetblue;
  font-family: "Helvetica Neue"  ;
  font-size: 1.5rem;
  line-height: 1.2px;
  font-weight: 700;
}
