.show{
    display: block;
    visibility: visible;
}
.hidden{
    display: none;
    visibility: hidden;
}
/*
*/
#parent-of-trt  {
    position: relative;
}
.info{
  text-align: center;
  color:cadetblue;
  font-family: "Helvetica Neue"  ;
  font-size: 1.5rem;
  line-height: 1.2px;
  font-weight: 700;
}
#card{
  display: block;
}
