<!--container-->
<div class="info mt-3 mb-3" >{{compteur$ | async}} </div>
<div class="container mt-2 mb-4" id="parent-of-trt">

    <div class="text-center text-primary">
        <p>Mise en ligne {{creatDate |date:'le d MMMM yyyy'}}</p>
    </div>
    <div id=" alertMsg"  class="  text-success text-center">
        <p>
        <!--    {{message}}-->
        </p>
    </div>
    <div class="d-flex justify-content-evenly">
        <!--<app-article    (info)="onAffiche($event)" ></app-article >-->
        <app-article *ngFor="let item of items"
                     [titreArticle]="item.titreArticle"
                     [prixArticle]="item.prixArticle"
                     [nbreLikeArticle]="item.nbreLikeArticle"
                     [commentArticle]="item.commentArticle"
                     [dispo]="item.dispo"
                     (info)="onAffiche($event)"
                     [urlImageArticle]="item.urlImageArticle"
                     [iconColor]="item.iconColor"
                     [idArticle]="item.id"

        ></app-article>
    </div>
</div>
