<!--container-->
<div class="container mb-4" id="parent-of-trt">

    <button mat-fab extended  id="btnHome">
        <mat-icon color="warn" >home</mat-icon>
        Home
    </button>

    <div class="text-center text-primary">
        <p>Mise en ligne {{creatDate |date:'le d MMMM yyyy'}}</p>
        <p>{{4.256 |number}}</p>
    </div>
    <div id=" alertMsg"  class="    mt-2 text-success text-center">
        <p>

            {{message}}
        </p>
    </div>
    <div class="d-flex justify-content-evenly">
        <!--<app-article    (info)="onAffiche($event)" ></app-article >-->
        <app-article *ngFor="let item of items"
                     [titreArticle]="item.titreArticle"
                     [prixArticle]="item.prixArticle"
                     [nbreLikeArticle]="item.nbreLikeArticle"
                     [commentArticle]="item.commentArticle"
                     [dispo]="item.dispo"
                     (info)="onAffiche($event)"
                     [urlImageArticle]="item.urlImageArticle"
                     [iconColor]="item.iconColor"

        ></app-article>
    </div>
</div>