<div class="container  m-5">
    <h2>Ajouter</h2>
    <div class=" mb-3 ">
        <label for="exampleFormControlInput1" class="form-label">Titre</label>
        <input type="text" id="exampleFormControlInput1" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Prix</label>
        <input type="number" id="exampleFormControlInput2" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
    </div>
</div>
